.p-7 {
    padding: 7px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px;
}

.br-0 {
    border-right: 0 !important;
}

.rl-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.r-0 {
    border-radius: 0 !important;
}

.auto-wrap {
    word-wrap: break-word;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-2 {
    margin-right: 2px;
}

.mr-1 {
    margin-right: 1px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.w-50 {
    width: 60vw;
}

.w-60 {
    width: 60vw;
}

.interval-container .interval-item+.interval-item {
    margin-left: 10px;
}

.table-container {
    padding: 5vh 5vw;
}

.input-with-select {
    background-color: #fff;
    .el-select {
        width: 80px;
    }
}