.p-7 {
    padding: 7px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-10 {
    padding: 10px !important;
}

.br-0 {
    border-right: 0 !important;
}

.rl-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.r-0 {
    border-radius: 0 !important;
}

.auto-wrap {
    word-wrap: break-word;
}

.mr-2 {
    margin-right: 2px;
}

.mr-1 {
    margin-right: 1px;
}